.preview {
  align-items: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;

  & img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
